@charset "UTF-8";
@font-face {
  font-family: "Pumpkin";
  src: url("/static/fonts/Pumpkin.otf");
}

@font-face {
  font-family: "Baloo";
  src: url("/static/fonts/Baloo-Regular.woff") format("woff"), url("/static/fonts/Baloo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DidactGothic";
  src: url("/static/fonts/DidactGothic-Regular.woff") format("woff"), url("/static/fonts/DidactGothic-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Viga";
  src: url("/static/fonts/Viga-Regular.woff") format("woff"), url("/static/fonts/Viga-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "TexGyreAdventor";
  src: url("/static/fonts/TexGyreAdventor-Regular.woff") format("woff"), url("/static/fonts/TexGyreAdventor-Regular.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #333333;
  color: #F7F0F0;
  overscroll-behavior: none;
}

.page-content {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

.page-content header {
  -ms-grid-row: 1;
  grid-row: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(0, 1024px) 1fr;
      grid-template-columns: 1fr minmax(0, 1024px) 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.page-content header .logo {
  -ms-grid-column: 2;
  grid-column: 2;
}

.page-content main {
  -ms-grid-row: 2;
  grid-row: 2;
}

.message, .error {
  font: bold 1.5em "DidactGothic", Arial, sans-serif;
}

.message {
  color: #FFFF33;
}

.error {
  color: #CC3332;
}

#alert-search {
  padding: 0 20vw 3em 20vw;
  text-align: center;
  scroll-margin: 2em;
}

@media screen and (max-width: 1023px) and (orientation: landscape), (min-width: 641px) and (max-width: 1023px) and (orientation: portrait) {
  #alert-search {
    padding: 0 0 3em 0;
  }
}

@media screen and (min-width: 1024px) {
  #alert-search {
    padding: 1em 0 .5em .7em;
    text-align: left;
    scroll-margin: 15em;
  }
}

#alert-contact {
  padding: 1em .5em;
  text-align: center;
  background-color: rgba(51, 51, 51, 0.9);
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
  #alert-contact {
    margin: -2em 0 .5em;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  #alert-contact {
    margin: 1em 0 -1.5em;
  }
}

.logo {
  max-width: 80vw;
  margin-top: .5vh;
}

@media screen and (max-width: 640px) and (orientation: portrait) {
  .logo {
    margin-top: 0;
  }
}

@media screen and (min-width: 641px) and (orientation: portrait) {
  .logo {
    max-width: 50em;
  }
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
  .logo {
    max-width: 40vw;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .logo {
    max-width: 39em;
  }
}

.header-image {
  background-image: url("/static/img/suri_mobile.jpg");
  background-position: left bottom;
  background-size: auto;
}

@media screen and (max-width: 640px) and (orientation: landscape) {
  .header-image {
    background-position: 0 50%;
    background-size: 100vw;
  }
}

@media screen and (min-width: 641px) and (max-width: 1023px) and (orientation: portrait) {
  .header-image {
    background-position: 0 50%;
    background-size: auto;
  }
}

@media screen and (min-width: 641px) and (max-width: 1023px) and (orientation: landscape) {
  .header-image {
    background-position: 0 50%;
    background-size: 100vw;
  }
}

@media screen and (min-width: 1024px) {
  .header-image {
    background-image: url("/static/img/suri_desktop.jpg");
    background-position: 0 80%;
    background-size: 100vw;
  }
}

footer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
  font: 1em "TexGyreAdventor", Arial, sans-serif;
}

@media screen and (min-width: 641px) and (orientation: portrait), (min-width: 1024px) {
  footer {
    font-size: 1.2em;
  }
}

footer #dot-separator {
  height: 1em;
  width: 1em;
  background-color: #333333;
  border-radius: 50%;
  margin-bottom: 2em;
}

footer #footer-wrapper {
  padding: 1em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

footer #footer-wrapper #copyright {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

@media screen and (max-width: 640px) and (orientation: landscape) {
  footer #footer-wrapper #copyright {
    text-align: left;
  }
}

@media screen and (min-width: 641px) {
  footer #footer-wrapper #copyright {
    text-align: left;
    padding-left: 2vw;
  }
}

footer #footer-wrapper #footer-nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2em;
}

@media screen and (min-width: 1024px) {
  footer #footer-wrapper #footer-nav {
    padding-left: 20vw;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

footer #footer-wrapper #footer-nav .footer-nav-link {
  padding: 0 2vw;
}

main {
  outline: none;
  overflow: auto;
  scroll-behavior: smooth;
}

.in-out-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.in-out-scrollbar::-webkit-scrollbar {
  display: none;
}

#hero {
  height: 100%;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr auto auto;
      grid-template-rows: auto 1fr auto auto;
}

h1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  margin: 6vh 7vw 0 7vw;
  text-shadow: 0 0 4px black;
  font: 2.7em "Baloo", Arial Black, sans-serif;
}

@media screen and (min-width: 641px) and (max-width: 1023px) and (orientation: portrait) {
  h1 {
    font-size: 3.6em;
  }
}

@media screen and (min-width: 641px) and (max-width: 1023px) and (orientation: landscape) {
  h1 {
    font-size: 3em;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 4em;
    margin-top: 10.5vh;
  }
}

h2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 4 / 2;
  margin: 0 6vw 2vh 6vw;
  text-shadow: 0 0 8px black;
  font: 2em "DidactGothic", Arial, sans-serif;
}

@media screen and (min-width: 641px) and (max-width: 1023px) and (orientation: portrait) {
  h2 {
    font-size: 2.8em;
  }
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 2.5em;
  }
}

.icon-arrow {
  width: 4.5rem;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 4 / 1 / 5 / 2;
  margin: auto;
  display: block;
}

@media screen and (orientation: portrait) {
  .icon-arrow {
    margin: 0 auto 5vh;
  }
}

#shaded-sections {
  min-height: 100%;
  background-color: rgba(154, 146, 148, 0.85);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(0, 1024px) 1fr;
      grid-template-columns: 1fr minmax(0, 1024px) 1fr;
  -ms-grid-rows: 1fr auto auto auto;
      grid-template-rows: 1fr auto auto auto;
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  #shaded-sections {
    background: -webkit-gradient(linear, left top, right top, color-stop(-5%, rgba(154, 146, 148, 0)), color-stop(15%, rgba(154, 146, 148, 0.85)), color-stop(85%, rgba(154, 146, 148, 0.85)), color-stop(105%, rgba(154, 146, 148, 0)));
    background: linear-gradient(to right, rgba(154, 146, 148, 0) -5%, rgba(154, 146, 148, 0.85) 15%, rgba(154, 146, 148, 0.85) 85%, rgba(154, 146, 148, 0) 105%);
  }
}

#shaded-sections .interface {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

#shaded-sections #como-procurar {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

#shaded-sections #onde-procurar {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
}

#shaded-sections footer {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 4 / 2 / 5 / 3;
}

.interface {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ([col-start] 1fr)[6];
      grid-template-columns: repeat(6, [col-start] 1fr);
}

@media screen and (max-width: 640px) and (orientation: portrait) {
  .interface {
    row-gap: 2rem;
    padding: 4rem 0 4rem;
  }
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
  .interface {
    row-gap: 2rem;
    padding: 2rem 0 4rem;
  }
}

.interface > * {
  grid-column: col-start / span 6;
}

@media screen and (max-width: 1023px) and (orientation: landscape), (min-width: 641px) and (orientation: portrait) {
  #intro {
    grid-column: col-start 1 / span 3;
  }
  #pesquisar {
    grid-column: col-start 4 / span 3;
  }
  #info {
    grid-column: col-start 1 / span 6;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  #intro {
    grid-column: col-start 1 / span 2;
  }
  #pesquisar {
    grid-column: col-start 3 / span 2;
  }
  #info {
    grid-column: col-start 5 / span 2;
  }
}

#intro, #pesquisar, #info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  #intro, #pesquisar, #info {
    margin: 4rem 0 12rem;
  }
}

@media screen and (min-width: 641px) and (max-width: 1023px) and (orientation: portrait) {
  #intro {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-right: 2.5em;
  }
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
  #intro {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-right: 3.5em;
  }
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
  #intro {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-right: 2em;
  }
}

#intro-msg {
  max-width: 16.5em;
  text-align: justify;
  text-justify: auto;
  color: #333333;
  font: 1.25em "Viga", Arial, sans-serif;
  line-height: 1.5em;
}

#intro-msg span {
  color: #F7F0F0;
  text-shadow: 0 0 1px black;
}

@media screen and (min-width: 641px) and (max-width: 1023px) and (orientation: portrait) {
  #intro-msg {
    font-size: 1.5em;
    line-height: 1.55em;
  }
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
  #intro-msg {
    font-size: 2em;
    line-height: 1.55em;
  }
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
  #intro-msg {
    font-size: 1.3em;
    line-height: 1.4em;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  #intro-msg {
    font-size: 1.6em;
    line-height: 1.4em;
  }
}

.intro-link {
  text-decoration: none;
  outline: none;
  color: inherit;
  -webkit-text-decoration: underline #CC3332;
          text-decoration: underline #CC3332;
}

@media screen and (min-width: 641px) and (max-width: 1023px) and (orientation: portrait) {
  #pesquisar {
    margin-left: 2.5em;
  }
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
  #pesquisar {
    margin-left: 3.5em;
  }
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
  #pesquisar {
    margin-left: 2em;
  }
}

#pesquisar-link {
  max-width: 11.5em;
  border-radius: .2em;
  background-color: #CC3332;
  text-shadow: 0 0 1px black;
  -webkit-transition: -webkit-box-shadow .1s linear;
  transition: -webkit-box-shadow .1s linear;
  transition: box-shadow .1s linear;
  transition: box-shadow .1s linear, -webkit-box-shadow .1s linear;
  -webkit-box-shadow: 0 20px 20px -20px black;
          box-shadow: 0 20px 20px -20px black;
  font: 1.8em "Baloo", Arial, sans-serif;
  margin: 2rem auto;
  padding: 2em;
}

#pesquisar-link #pesquisar-label {
  text-align: center;
  line-height: 1.5em;
  vertical-align: middle;
}

@media screen and (min-width: 641px) and (max-width: 1023px) and (orientation: portrait) {
  #pesquisar-link {
    font-size: 2.2em;
    margin: 2rem auto 2rem 0;
  }
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
  #pesquisar-link {
    font-size: 3em;
    margin: 2rem auto 2rem 0;
  }
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
  #pesquisar-link {
    font-size: 1.8em;
    margin: 2rem auto 2rem 0;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  #pesquisar-link {
    font-size: 2.2em;
  }
}

.icon-magniglass {
  max-width: 1.2em;
  position: relative;
  top: .2em;
  -webkit-transition: opacity .1s ease-out;
  transition: opacity .1s ease-out;
  opacity: 1;
}

@media screen and (max-width: 640px) and (orientation: portrait) {
  #info {
    margin-left: 1.1rem;
  }
}

@media screen and (min-width: 641px) and (max-width: 1023px) and (orientation: portrait) {
  #info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 1.3rem;
  }
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
  #info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 1.6rem;
  }
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
  #info {
    margin-left: .7rem;
  }
}

#info-grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "dog cat" "link1 link1" "link2 link2";
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  row-gap: 1rem;
}

@media screen and (min-width: 641px) and (orientation: portrait), (max-width: 1023px) and (orientation: landscape) {
  #info-grid {
    row-gap: .7rem;
  }
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
  #info-grid {
    row-gap: .1rem;
  }
}

#info-como, #info-onde {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 1.6em "Baloo", Arial, sans-serif;
  text-shadow: 0 0 1px black;
  padding: .5rem;
}

@media screen and (min-width: 641px) and (max-width: 1023px) and (orientation: portrait) {
  #info-como, #info-onde {
    font-size: 2.3em;
    padding: .4rem;
  }
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
  #info-como, #info-onde {
    font-size: 3em;
    padding: .8rem;
  }
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
  #info-como, #info-onde {
    font-size: 1.65em;
    padding: .5rem;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  #info-como, #info-onde {
    font-size: 2em;
    padding: .8rem;
  }
}

#info-como {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: dog;
  line-height: .8em;
}

#info-onde {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: cat;
  line-height: .8em;
}

#blackdog {
  max-width: 5em;
  margin-right: .9em;
}

#blackcat {
  max-width: 5em;
  margin-right: 1em;
}

.infolink-txt #como, .infolink-txt #onde {
  font-size: 1.5em;
}

h3 {
  font: 1.2em "Baloo", Arial, sans-serif;
}

@media screen and (min-width: 641px) and (max-width: 1023px) and (orientation: portrait) {
  h3 {
    font-size: 1.65em;
  }
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
  h3 {
    font-size: 2.2em;
  }
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
  h3 {
    font-size: 1.22em;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  h3 {
    font-size: 1.5em;
  }
}

.fat-text {
  background-color: transparent;
  font: 1em "Pumpkin", Arial, sans-serif;
  letter-spacing: -.05em;
  color: inherit;
}

#projeto-acerca {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: link1;
  color: #333333;
  text-align: center;
  font-size: 1.1rem;
}

#projeto-contribuir {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: link2;
  color: #333333;
  text-align: center;
  font-size: .95rem;
}

#info-arrow {
  margin: 3vh auto 1.5vh;
}

#last-info-arrow {
  margin: 3vh auto 1.5vh;
}

@media screen and (min-width: 641px) and (orientation: portrait) {
  .info-panel {
    padding-top: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media screen and (min-width: 1024px) {
  .info-panel {
    font-size: 1.1em;
  }
}

h4 {
  margin: 5vh .2em .65em 5vw;
  color: #333333;
  font: 2.2rem "Baloo", Arial Black, sans-serif;
}

h4 .red {
  color: #CC3332;
  text-shadow: 0 0 1px black;
}

@media screen and (max-width: 640px) and (orientation: landscape) {
  h4 {
    font-size: 2.6rem;
  }
}

@media screen and (min-width: 641px) and (orientation: portrait) {
  h4 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  h4 {
    font-size: 3.3rem;
  }
}

.icon-x {
  float: right;
  width: 3.8em;
  padding: 1em;
  opacity: .9;
}

@media screen and (min-width: 1024px), (min-width: 641px) and (orientation: portrait) {
  .icon-x {
    width: 4.5em;
  }
}

.backtop-link {
  text-decoration: none;
  outline: none;
  color: inherit;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: .4em .6em;
  border: 1px solid #333333;
  border-radius: 10em;
  font: 1.5em "DidactGothic", Arial, sans-serif;
  color: #333333;
  opacity: .9;
}

#backtop-como, #backtop-onde {
  margin: 5vh auto;
}

.wrap-collapsible input[type='checkbox'] {
  opacity: 0;
  z-index: -1;
  margin: 3em 0 0 10em;
}

.label-toggle {
  cursor: pointer;
  display: block;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 2.5vh 2vw 2.5vh 2vw;
  margin: -2.4em 7vw 0 2.65em;
  border-radius: 10em;
  -webkit-transition: all .15s;
  transition: all .15s;
  font: 2.1em "DidactGothic", Arial, sans-serif;
  line-height: 1.4em;
  text-indent: -0.9em;
}

@media screen and (max-width: 640px) {
  .label-toggle {
    font-size: 1.8em;
  }
}

@media screen and (min-width: 1024px) {
  .label-toggle {
    text-indent: -0.4em;
  }
}

.label-toggle::before {
  content: "+";
  display: inline-block;
  padding-right: 1.2em;
  vertical-align: 7%;
  opacity: .8;
}

@media (hover: hover) {
  .label-toggle:hover {
    background-color: rgba(51, 51, 51, 0.1);
  }
}

.toggle:focus + .label-toggle {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

.collapsible-content {
  display: none;
  max-height: 0;
  -webkit-transition: max-height .15s ease-in-out;
  transition: max-height .15s ease-in-out;
}

.content-inner {
  background: rgba(51, 51, 51, 0.1);
  font: 1.5em "DidactGothic", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.9);
  line-height: 1.5em;
  margin: 0 3vw 0 3vw;
  padding: 1.3em 1.3em;
}

@media screen and (min-width: 1024px) {
  .content-inner {
    padding-left: 2.7vw;
    padding-right: 2.7vw;
  }
}

.content-inner ul, .content-inner ol {
  list-style-position: inside;
}

.content-inner ul ::marker, .content-inner ol ::marker {
  color: #333333;
}

.content-inner P {
  margin-bottom: 1.2em;
}

.content-inner li {
  margin-bottom: .9em;
}

.content-inner li:last-child {
  margin-bottom: 1.2em;
}

.link-external {
  text-decoration: none;
  outline: none;
  color: inherit;
  color: #FFFF33;
  text-shadow: 0 0 1px black;
}

.external-link-symbol {
  width: .6em;
  margin-left: .2em;
  position: relative;
  top: .05em;
  opacity: .8;
}

.link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.white-text {
  font-family: "Viga", Arial, sans-serif;
  color: #F7F0F0;
  text-shadow: 0 0 1px black;
}

.internal-link {
  text-decoration: none;
  outline: none;
  color: inherit;
  font-family: "Baloo", Arial Black, sans-serif;
  color: #F7F0F0;
  text-shadow: 0 0 1px black;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: .6em .6em;
  background-color: #CC3332;
  border-radius: 2.5em;
}

.toggle:checked + .label-toggle {
  border-radius: 0;
  background-color: rgba(204, 51, 50, 0.8);
  margin-right: 3vw;
  margin-left: 3vw;
  padding-right: 6vw;
  padding-left: calc(2vw + (2.65em - 3vw));
  text-indent: -0.9em;
}

@media screen and (min-width: 1024px) {
  .toggle:checked + .label-toggle {
    text-indent: -0.4em;
  }
}

.toggle:checked + .label-toggle::before {
  content: "−";
  opacity: .8;
}

.toggle:checked + .label-toggle + .collapsible-content {
  display: block;
  max-height: 100%;
}

#invisible-item {
  visibility: hidden;
  margin-top: 0;
}

.infolink-img, .infolink-txt, #pesquisar-link, .jumpy-link, .non-jumpy-link, .icon-x, .footer-nav-link {
  text-decoration: none;
  outline: none;
  color: inherit;
}

@media (hover: hover) {
  .intro-link:hover {
    text-decoration: none;
    color: #FFFF33;
  }
  .infolink-txt:hover, .infolink-img:hover + .infolink-txt {
    -webkit-transition: color .1s linear;
    transition: color .1s linear;
    text-shadow: 0 1px 1px black;
  }
  .infolink-txt:hover .fat-text, .infolink-img:hover + .infolink-txt .fat-text {
    -webkit-transition: color .1s linear;
    transition: color .1s linear;
    color: #FFFF33;
    text-shadow: 0 1px 3px black;
  }
  #pesquisar-link:hover {
    color: rgba(255, 255, 255, 0.6);
    text-shadow: none;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    -webkit-box-shadow: 0 30px 30px -25px black;
            box-shadow: 0 30px 30px -25px black;
    cursor: url("/static/img/cursor_magniglass.png") 12 12, pointer;
  }
  #pesquisar-link:hover .icon-magniglass {
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
    opacity: 0;
  }
  .non-jumpy-link:hover {
    text-shadow: 0 0 2px #F7F0F0;
  }
  .non-jumpy-link:hover .red {
    color: #CC3332;
  }
  .jumpy-link:hover h3 {
    -webkit-animation: jump .2s;
            animation: jump .2s;
  }
  .jumpy-link:hover .yellow {
    -webkit-transition: color .1s linear;
    transition: color .1s linear;
    color: #FFFF33;
    text-shadow: 0 0 3px black;
  }
  .icon-x:hover {
    opacity: 1;
    -webkit-filter: brightness(0) saturate(100%) invert(92%) sepia(10%) saturate(73%) hue-rotate(317deg) brightness(103%) contrast(95%);
            filter: brightness(0) saturate(100%) invert(92%) sepia(10%) saturate(73%) hue-rotate(317deg) brightness(103%) contrast(95%);
  }
  .backtop-link:hover {
    border: 1px solid #F7F0F0;
    color: #F7F0F0;
    opacity: 1;
  }
  .link-external:hover {
    text-shadow: 0 0 4px black;
  }
  .link-external:hover .external-link-symbol {
    opacity: 1;
  }
  .internal-link:hover {
    text-shadow: 0 0 2px black;
    -webkit-box-shadow: 0 0 1px 0 #333333;
            box-shadow: 0 0 1px 0 #333333;
  }
  .footer-nav-link:hover {
    color: #FFFF33;
  }
}

@-webkit-keyframes turn {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes turn {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes jump {
  0% {
    color: #333333;
  }
  25% {
    color: #333333;
  }
  50% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

@keyframes jump {
  0% {
    color: #333333;
  }
  25% {
    color: #333333;
  }
  50% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

.intro-link:focus {
  text-decoration: none;
  color: #FFFF33;
}

.infolink-txt:focus, .infolink-img:focus + .infolink-txt {
  text-shadow: 0 1px 1px black;
}

.infolink-txt:focus .fat-text, .infolink-img:focus + .infolink-txt .fat-text {
  color: #FFFF33;
  text-shadow: 0 1px 3px black;
}

#pesquisar-link:focus {
  color: rgba(255, 255, 255, 0.6);
  text-shadow: none;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  -webkit-box-shadow: 0 30px 30px -25px black;
          box-shadow: 0 30px 30px -25px black;
}

#pesquisar-link:focus .icon-magniglass {
  -webkit-animation: turn 1s;
          animation: turn 1s;
}

.non-jumpy-link:focus {
  text-shadow: 0 0 2px #F7F0F0;
}

.non-jumpy-link:focus .red {
  color: #CC3332;
}

.jumpy-link:focus h3 {
  -webkit-animation: jump .2s;
          animation: jump .2s;
}

.jumpy-link:focus .fat-text {
  -webkit-transition: color .1s linear;
  transition: color .1s linear;
  color: #FFFF33;
  text-shadow: 0 0 3px black;
}

.icon-x:focus {
  opacity: 1;
  -webkit-filter: brightness(0) saturate(100%) invert(92%) sepia(10%) saturate(73%) hue-rotate(317deg) brightness(103%) contrast(95%);
          filter: brightness(0) saturate(100%) invert(92%) sepia(10%) saturate(73%) hue-rotate(317deg) brightness(103%) contrast(95%);
}

.backtop-link:focus {
  border: 1px solid #F7F0F0;
  color: #F7F0F0;
  opacity: 1;
}

.link-external:focus {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

.link-external:focus .external-link-symbol {
  opacity: 1;
}

.internal-link:focus {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  -webkit-box-shadow: 0 0 1px 0 #333333;
          box-shadow: 0 0 1px 0 #333333;
}

.footer-nav-link:focus {
  color: #FFFF33;
}

.intro-link:active {
  text-decoration: none;
  color: #333333;
}

.infolink-img:active + .infolink-txt, .infolink-txt:active, .jumpy-link:active, .non-jumpy-link:active {
  text-shadow: none;
  color: #333333;
}

.infolink-img:active + .infolink-txt .fat-text, .infolink-img:active + .infolink-txt .red, .infolink-txt:active .fat-text, .infolink-txt:active .red, .jumpy-link:active .fat-text, .jumpy-link:active .red, .non-jumpy-link:active .fat-text, .non-jumpy-link:active .red {
  color: #333333;
  text-shadow: none;
}

#pesquisar-link:active {
  color: #333333;
}

#pesquisar-link:active img {
  -webkit-filter: brightness(0) saturate(100%) invert(17%) sepia(0%) saturate(15%) hue-rotate(146deg) brightness(92%) contrast(87%);
          filter: brightness(0) saturate(100%) invert(17%) sepia(0%) saturate(15%) hue-rotate(146deg) brightness(92%) contrast(87%);
  -webkit-transition: .1s ease-in;
  transition: .1s ease-in;
}

.icon-x:active {
  opacity: 1;
  -webkit-filter: none;
          filter: none;
}

.backtop-link:active {
  border: 1px solid #333333;
  opacity: 1;
  color: #333333;
}

.link-external:active {
  color: #333333;
  text-shadow: none;
}

.internal-link:active {
  color: #333333;
  text-shadow: none;
}

.footer-nav-link:active {
  color: #F7F0F0;
}

.grid-layout {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(0, 1024px) 1fr;
      grid-template-columns: 1fr minmax(0, 1024px) 1fr;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
}

.grid-layout #search-grid {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

.grid-layout footer {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

#search-grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "heading" "searchbar" "filters" "results";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto 1fr;
      grid-template-rows: auto auto auto 1fr;
  margin-bottom: 3rem;
}

@media screen and (min-width: 1024px) {
  #search-grid {
    font-size: 1.1em;
        grid-template-areas: "heading heading" "filters searchbar" "filters results";
    -ms-grid-columns: auto 1fr;
        grid-template-columns: auto 1fr;
    -ms-grid-rows: auto auto 1fr;
        grid-template-rows: auto auto 1fr;
  }
}

#heading-wrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: heading;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#search-heading {
  text-decoration: none;
  outline: none;
  color: inherit;
  margin: 4vh 4vw 4vh 5vw;
}

#search-heading h4 {
  margin: 0;
}

@media screen and (orientation: landscape), (min-width: 641px) and (orientation: portrait) {
  #search-heading {
    margin-right: 0;
  }
}

#search-heading:focus {
  -webkit-text-decoration: underline #333333 dotted;
          text-decoration: underline #333333 dotted;
}

.home-link {
  text-decoration: none;
  outline: none;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5vh 5vw 4vh 5vw;
  color: #333333;
  opacity: .8;
  font: 1.1em "DidactGothic", Arial, sans-serif;
  padding-right: 1em;
}

.home-link img {
  max-width: 2.3em;
}

@media screen and (min-width: 1024px) {
  .home-link {
    font-size: 1.3em;
    padding-right: 0;
  }
}

form.name-search {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: searchbar;
  scroll-margin: 2em;
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
  form.name-search {
    scroll-margin: 1em;
  }
}

@media screen and (min-width: 1024px), (min-width: 641px) and (max-width: 1023px) and (orientation: portrait) {
  form.name-search {
    scroll-margin: 15em;
  }
}

#search-bar {
  height: 4.5em;
  background-color: rgba(51, 51, 51, 0.3);
  border-radius: 2em;
  padding-left: 1.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 87vw;
  margin: 0 auto 1em auto;
}

@media screen and (min-width: 640px) and (max-width: 641px) and (orientation: landscape), (min-width: 641px) and (max-width: 1023px) {
  #search-bar {
    max-width: 51em;
  }
}

@media screen and (min-width: 1024px) {
  #search-bar {
    margin: 0 4rem 0 0;
    max-width: 100%;
    border-radius: .4em 1.6em 0 0;
  }
}

.search-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.icon-in-bar {
  max-width: 4em;
  padding: .5em 1em .5em 0;
}

.search-magniglass {
  max-width: 80%;
  position: relative;
  top: .1em;
}

#search-text {
  border: none;
  background: none;
  outline: none;
  color: #F7F0F0;
  font: 1.5em "DidactGothic", Arial, sans-serif;
  width: 80%;
}

@media screen and (min-width: 1024px) {
  #search-text {
    width: 90%;
  }
}

#search-text::-webkit-input-placeholder {
  color: #F7F0F0;
  text-shadow: 0 0 1px black;
  opacity: .6;
}

#search-text:-ms-input-placeholder {
  color: #F7F0F0;
  text-shadow: 0 0 1px black;
  opacity: .6;
}

#search-text:focus::-webkit-input-placeholder {
  color: transparent;
  text-shadow: none;
}

#search-text:focus:-ms-input-placeholder {
  color: transparent;
  text-shadow: none;
}

#search-text:focus::-ms-input-placeholder {
  color: transparent;
  text-shadow: none;
}

#search-text:focus::placeholder {
  color: transparent;
  text-shadow: none;
}

#filters {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: filters;
}

form.filter-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 87vw;
  margin: 0 auto 4em auto;
  border: 3px solid rgba(51, 51, 51, 0.3);
  border-radius: 2.3em;
}

form.filter-search #button-for-mobile {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
  margin-top: .8em;
  padding: .5em;
  background-color: rgba(51, 51, 51, 0.3);
  border-radius: 0 0 2em 2em;
}

form.filter-search #button-for-mobile .search-magniglass {
  width: 8%;
}

@media screen and (max-width: 640px) and (orientation: landscape), (min-width: 641px) and (max-width: 1023px) {
  form.filter-search {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 51em;
  }
  form.filter-search #button-for-mobile {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  form.filter-search {
    margin: 0 2rem 0 4rem;
    border-radius: 1.84em .7em .4em 1.6em;
  }
  form.filter-search #button-for-mobile {
    display: none;
  }
}

#search-menu {
  background-color: rgba(51, 51, 51, 0.3);
  border-radius: 2em 2em 0 0;
  padding-bottom: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: .5em;
}

@media screen and (max-width: 640px) and (orientation: landscape), (min-width: 641px) and (max-width: 1023px) {
  #search-menu {
    margin-bottom: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-radius: 2em 0 0 2em;
  }
}

@media screen and (min-width: 1024px) {
  #search-menu {
    border-radius: 1.6em .4em 0 0;
  }
}

.icon-in-text {
  border: 1px solid #FFFF33;
  border-radius: 10em;
  margin: .5em 1em .3em 1em;
  padding: .4em 0 .3em;
  font: 1.5em "DidactGothic", Arial, sans-serif;
  color: #FFFF33;
  text-shadow: 0 0 1px black;
}

.icon-in-text .search-magniglass {
  max-width: 1.1em;
  top: .2em;
}

.name-of-filter {
  color: #333333;
  font: 1.1em "DidactGothic", Arial, sans-serif;
  padding: .5em;
}

.dropdown-filter {
  outline: none;
  border: none;
  background-color: transparent;
  color: #F7F0F0;
  margin: 0 .5em 0 1em;
  min-width: 15em;
  font: 1.5em "DidactGothic", Arial, sans-serif;
}

.dropdown-filter option {
  color: #333333;
  font-size: .9em;
}

@media screen and (min-width: 1024px) {
  .dropdown-filter {
    font: 1.3em "DidactGothic", Arial, sans-serif;
  }
}

@media (hover: hover) {
  .dropdown-filter:hover {
    background-color: rgba(247, 240, 240, 0.1);
    cursor: pointer;
  }
}

.dropdown-filter:focus {
  background-color: rgba(247, 240, 240, 0.1);
}

#loose-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.checkbox-filter {
  opacity: 0;
  z-index: -1;
}

.filter-toggle {
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: -1em .9em .3em .9em;
  padding: .4em .9em;
  border-radius: 1.1em .3em 1.1em .3em;
  outline: none;
  font: 1.3em "DidactGothic", Arial, sans-serif;
  background-color: rgba(51, 51, 51, 0.05);
  color: rgba(247, 240, 240, 0.5);
  border: 1px dotted rgba(51, 51, 51, 0.3);
}

@media screen and (min-width: 1024px) {
  .filter-toggle {
    font: 1.2em "DidactGothic", Arial, sans-serif;
    padding: .3em .9em;
  }
}

@media (hover: hover) {
  .filter-toggle:hover {
    text-shadow: 0 0 1px black;
    color: rgba(247, 240, 240, 0.9);
    border-style: solid;
  }
}

.checkbox-filter:focus + .filter-toggle {
  -webkit-text-decoration: underline dotted #333333;
          text-decoration: underline dotted #333333;
}

.checkbox-filter:checked + .filter-toggle {
  background-color: rgba(51, 51, 51, 0.3);
  color: #F7F0F0;
  opacity: 1;
  text-shadow: none;
  border: none;
  padding: calc(.4em + 1px) calc(.9em + 1px);
}

@media screen and (min-width: 1024px) {
  .checkbox-filter:checked + .filter-toggle {
    padding: calc(.3em + 1px) calc(.9em + 1px);
  }
}

@media (hover: hover) {
  .checkbox-filter:checked + .filter-toggle:hover {
    opacity: .8;
    color: #F7F0F0;
  }
}

.checkbox-filter:checked:focus + .filter-toggle {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

#switch-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: .8;
  margin: .1em .9em .5em 0;
  width: 11%;
}

@media screen and (max-width: 640px) and (orientation: portrait) {
  #switch-button {
    width: 9%;
  }
}

@media screen and (min-width: 641px) and (max-width: 1023px) and (orientation: portrait), (max-width: 1023px) and (orientation: landscape) {
  #switch-button {
    margin-right: 0;
  }
}

#switch-all-filters {
  width: 100%;
}

#results-container {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: results;
  scroll-margin: 2em;
  -webkit-clip-path: polygon(0 0, 100% 8vw, 100% 100%, 0 calc(100% - 8vw));
          clip-path: polygon(0 0, 100% 8vw, 100% 100%, 0 calc(100% - 8vw));
  margin: 0 8vw 4em 8vw;
  color: #333333;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto 1fr;
      grid-template-rows: auto auto auto 1fr;
}

#results-container #stats {
  -ms-grid-row: 1;
  grid-row: 1;
}

#results-container #result-list {
  -ms-grid-row: 2;
  grid-row: 2;
}

#results-container .repeat-search {
  -ms-grid-row: 3;
  grid-row: 3;
}

#results-container .void-space {
  -ms-grid-row: 4;
  grid-row: 4;
  visibility: hidden;
}

@media screen and (max-width: 1023px) and (orientation: landscape), (min-width: 641px) and (max-width: 1023px) and (orientation: portrait) {
  #results-container {
    width: 51em;
    margin: 0 auto 2em auto;
  }
}

@media screen and (min-width: 1024px) {
  #results-container {
    scroll-margin: 5em;
    -webkit-clip-path: none;
            clip-path: none;
    max-width: 100%;
    margin: 0 4rem 2rem 0;
    font-size: 1.1em;
  }
}

#stats {
  font: 1.3em "DidactGothic", Arial, sans-serif;
  color: #F7F0F0;
  background-color: #CC3332;
  width: 100%;
  padding: 12vw .5em .3em .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1023px) and (orientation: landscape), (min-width: 641px) and (max-width: 1023px) and (orientation: portrait) {
  #stats {
    padding-top: 9vw;
  }
}

@media screen and (min-width: 1024px) {
  #stats {
    padding: 1em 0 .5em 1.2em;
  }
}

#all-button {
  visibility: hidden;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  font: .9em "DidactGothic", Arial, sans-serif;
  padding: .2em .5em .2em;
}

@media screen and (min-width: 1024px) {
  #all-button {
    margin-right: 1em;
  }
}

.repeat-search {
  text-decoration: none;
  outline: none;
  color: inherit;
  display: block;
  font: 1.3em "DidactGothic", Arial, sans-serif;
  color: #F7F0F0;
  text-shadow: 0 0 1px black;
  background-color: rgba(51, 51, 51, 0.3);
  padding: .3em .5em 12vw .5em;
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
  .repeat-search {
    padding-bottom: 9vw;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100vw - 92vw));
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100vw - 92vw));
  }
}

@media screen and (min-width: 641px) and (max-width: 1023px) and (orientation: portrait) {
  .repeat-search {
    padding-bottom: 9vw;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100vw - 95vw));
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100vw - 95vw));
  }
}

@media screen and (min-width: 1024px) {
  .repeat-search {
    padding: .5em 0 1.85em .7em;
    border-radius: 0 0 1.6rem .4rem;
    margin-bottom: 2em;
  }
}

.contact {
  font: 1.4em "Viga", Arial, sans-serif;
  max-width: calc(100vw - 16vw);
  padding: 1em .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5em;
}

@media screen and (min-width: 1024px) {
  .contact {
    padding-left: 1.1em;
  }
}

@media (hover: hover) {
  .contact:hover {
    background-color: rgba(247, 240, 240, 0.1);
  }
}

.contact:focus-within {
  background-color: rgba(247, 240, 240, 0.1);
}

.contact-place {
  font: .9em "DidactGothic", Arial, sans-serif;
  color: rgba(247, 240, 240, 0.7);
}

.contact-name {
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.9);
  margin: -.3em 0 -.2em;
}

.contact-type {
  font: italic .7em "TexGyreAdventor", Arial, sans-serif;
  color: rgba(247, 240, 240, 0.5);
  background-color: rgba(51, 51, 51, 0.5);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 .3em;
}

summary {
  cursor: pointer;
}

summary span {
  font-size: .9em;
  opacity: .6;
}

@media (hover: hover) {
  summary:hover, details[open] summary:hover {
    outline: none;
    color: #F7F0F0;
    opacity: 1;
  }
}

summary:focus, details[open] summary:focus {
  outline: none;
  color: #F7F0F0;
  opacity: 1;
}

details[open] summary {
  opacity: .5;
}

.accordion-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5em;
}

.contact-details-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: .5em 2em;
}

@media screen and (min-width: 1024px), (orientation: landscape) {
  .contact-details-flexbox {
    gap: .5em 4em;
  }
}

.contact-detail-item {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.contact-address {
  font: .8em "DidactGothic", Arial, sans-serif;
  line-height: 1.3em;
}

.contact-phone {
  font: .9em "DidactGothic", Arial, sans-serif;
}

.emails-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: .2em;
}

.contact-email {
  outline: none;
  border: none;
  background-color: transparent;
  color: #333333;
  width: 100%;
}

@media screen and (min-width: 1024px), (orientation: landscape) {
  .contact-email {
    width: calc(100% - 10em);
  }
}

.contact-email[value] {
  font: .9em "DidactGothic", Arial, sans-serif;
}

.copy-button, .copy-button::-moz-selection {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  font: .9em "DidactGothic", Arial, sans-serif;
  color: rgba(51, 51, 51, 0.9);
  background-color: rgba(247, 240, 240, 0.2);
  margin-top: -.2em;
  padding: 0 .5em .2em .1em;
  border-radius: .1em .1em .9em .9em;
}

.copy-button, .copy-button::selection {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  font: .9em "DidactGothic", Arial, sans-serif;
  color: rgba(51, 51, 51, 0.9);
  background-color: rgba(247, 240, 240, 0.2);
  margin-top: -.2em;
  padding: 0 .5em .2em .1em;
  border-radius: .1em .1em .9em .9em;
}

@media screen and (min-width: 1024px), (orientation: landscape) {
  .copy-button, .copy-button::-moz-selection {
    margin-top: 0;
    padding: 0 .5em 0 .3em;
    border-radius: .4em .4em .4em .4em;
  }
  .copy-button, .copy-button::selection {
    margin-top: 0;
    padding: 0 .5em 0 .3em;
    border-radius: .4em .4em .4em .4em;
  }
}

.weblinks-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.web-link {
  text-decoration: none;
  outline: none;
  color: inherit;
  margin-right: .8em;
}

@media screen and (min-width: 1024px) {
  .web-link {
    margin-right: .5em;
  }
}

.web-link-icon {
  width: 1.5em;
  margin-top: .3em;
}

@media screen and (min-width: 1024px) {
  .web-link-icon {
    width: 1.3em;
    margin-top: .2em;
  }
}

@media (hover: hover) {
  .home-link:hover {
    opacity: 1;
  }
  .search-magniglass:hover {
    -webkit-filter: brightness(0) saturate(100%) invert(17%) sepia(0%) saturate(15%) hue-rotate(146deg) brightness(92%) contrast(87%);
            filter: brightness(0) saturate(100%) invert(17%) sepia(0%) saturate(15%) hue-rotate(146deg) brightness(92%) contrast(87%);
  }
  .icon-in-text:hover {
    background-color: #FFFF33;
    color: #333333;
    text-shadow: none;
  }
  .icon-in-text:hover .search-magniglass {
    -webkit-filter: brightness(0) saturate(100%) invert(17%) sepia(0%) saturate(15%) hue-rotate(146deg) brightness(92%) contrast(87%);
            filter: brightness(0) saturate(100%) invert(17%) sepia(0%) saturate(15%) hue-rotate(146deg) brightness(92%) contrast(87%);
  }
  #switch-button:hover {
    opacity: 1;
  }
  #all-button:hover {
    color: #FFFF33;
    text-shadow: 0 0 1px black;
  }
  .repeat-search:hover {
    color: #FFFF33;
  }
  .copy-button:hover {
    color: rgba(247, 240, 240, 0.5);
  }
  .web-link-icon:hover {
    opacity: .5;
  }
}

.home-link:focus {
  color: #FFFF33;
  opacity: 1;
}

.icon-in-bar:focus {
  -webkit-filter: invert(17%) sepia(0%) saturate(15%) hue-rotate(146deg) brightness(92%) contrast(87%);
          filter: invert(17%) sepia(0%) saturate(15%) hue-rotate(146deg) brightness(92%) contrast(87%);
}

.icon-in-text:focus {
  background-color: #FFFF33;
  color: #333333;
  text-shadow: none;
}

.icon-in-text:focus .search-magniglass {
  -webkit-filter: brightness(0) saturate(100%) invert(17%) sepia(0%) saturate(15%) hue-rotate(146deg) brightness(92%) contrast(87%);
          filter: brightness(0) saturate(100%) invert(17%) sepia(0%) saturate(15%) hue-rotate(146deg) brightness(92%) contrast(87%);
}

#switch-button:focus {
  opacity: 1;
  -webkit-filter: brightness(0) saturate(100%) invert(88%) sepia(80%) saturate(549%) hue-rotate(341deg) brightness(107%) contrast(108%);
          filter: brightness(0) saturate(100%) invert(88%) sepia(80%) saturate(549%) hue-rotate(341deg) brightness(107%) contrast(108%);
}

#all-button:focus {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

@media screen and (min-width: 1024px) {
  #all-button:focus {
    background-color: rgba(51, 51, 51, 0.1);
  }
}

.repeat-search:focus {
  color: #FFFF33;
}

.copy-button:focus {
  color: rgba(247, 240, 240, 0.5);
}

.web-link:focus {
  opacity: .5;
}

.repeat-search:active {
  color: #333333;
  text-shadow: none;
}

.copy-button:active {
  background-color: #333333;
  color: rgba(247, 240, 240, 0.5);
}

.web-link:active {
  opacity: 1;
}

.grid-layout #about-wrapper {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

.grid-layout footer.greyed {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  color: rgba(247, 240, 240, 0.5);
}

.grid-layout footer.greyed #dot-separator.invisible {
  visibility: hidden;
}

h4.grey {
  color: rgba(247, 240, 240, 0.7);
  text-shadow: 0 0 1px black;
}

#about-wrapper > h4 {
  margin: 4vh 5vw 1vh 5vw;
  text-align: left;
}

@media screen and (min-width: 641px) and (orientation: portrait) {
  #about-wrapper > h4 {
    margin: 4vh 3em 1.3em;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  #about-wrapper > h4 {
    margin: 4vh 2.5em .7em;
  }
}

figure {
  position: relative;
  font: 1.1em "DidactGothic", Arial, sans-serif;
  text-shadow: 0 0 4px black;
  line-height: 1.3em;
  float: top;
  width: 100%;
}

figure img {
  max-width: 100%;
}

figure blockquote {
  position: absolute;
  top: 3%;
  right: 0;
  margin-right: 1.5em;
  width: 65%;
  text-align: justify;
  text-justify: auto;
  text-shadow: 0 0 2px black, 0 0 1px white, 0 0 3px black;
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
  figure blockquote {
    width: 45%;
    margin-right: 5vw;
  }
}

figure figcaption {
  position: absolute;
  bottom: .9%;
  padding: .8em .5em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font: .9em "DidactGothic", Arial, sans-serif;
  text-align: right;
}

@media screen and (min-width: 641px) and (max-width: 1023px) and (orientation: portrait) {
  figure {
    float: left;
    width: 38%;
    margin: .5em 2em 1.5em 6em;
  }
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
  figure {
    float: left;
    width: 40%;
    margin: .5em 3em 1.5em 5em;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  figure {
    float: left;
    width: 33%;
    margin: .5em 3em 1.5em 5em;
  }
}

.quotes {
  font-family: "Pumpkin", Arial, sans-serif;
  vertical-align: middle;
}

article {
  text-align: justify;
  text-justify: auto;
  font: 1.3em "DidactGothic", Arial, sans-serif;
  line-height: 1.5em;
  margin-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

article p {
  margin-bottom: 1em;
  max-width: 60em;
}

article p .next-to-fat-text {
  font-family: "Baloo", Arial, sans-serif;
}

@media screen and (min-width: 641px) and (max-width: 1023px) and (orientation: portrait) {
  article {
    margin-right: 2.5em;
    margin-top: 3.5em;
  }
}

@media screen and (min-width: 1024px) {
  article {
    font-size: 1.5em;
    line-height: 1.7em;
  }
}

article blockquote {
  font: 1em "Baloo", Arial, sans-serif;
  text-align: center;
  line-height: 1.5em;
  margin: 2em calc(100vw / 2 * .2);
}

article blockquote .quotes {
  font-size: 1.2em;
}

@media screen and (min-width: 641px) and (max-width: 1023px) and (orientation: portrait) {
  article blockquote {
    margin: 4em 12em 2em;
  }
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
  article blockquote {
    margin: 3em 20vw 2em;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  article blockquote {
    margin: 1.5em 9vw 1.5em 33vw;
  }
}

@media screen and (min-width: 641px) and (max-width: 1023px) and (orientation: portrait) {
  article:last-child {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media screen and (min-width: 1024px) {
  article:last-child {
    padding-left: 5vw;
    padding-right: 8vw;
  }
}

#last-pgph {
  font-size: 1.1em;
  text-shadow: 0 0 1px black;
  margin: 2.5em 6vw 1.5em;
  padding: .9em 1.2em;
  border-radius: .3em;
  background-color: rgba(247, 240, 240, 0.1);
}

@media screen and (min-width: 1024px), (min-width: 641px) and (orientation: portrait) {
  #last-pgph {
    margin: 2.5em 9.25em 1.5em;
  }
}

#contact-grid {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(0, 1024px) 1fr;
      grid-template-columns: 1fr minmax(0, 1024px) 1fr;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

#contact-grid #contact-heading {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

#contact-grid #contact-flexbox {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

#contact-grid footer.greyed {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
  color: rgba(247, 240, 240, 0.5);
}

#contact-grid footer.greyed #dot-separator {
  background-color: rgba(247, 240, 240, 0.5);
  margin-bottom: .5em;
}

@media screen and (min-width: 1024px) {
  #contact-grid footer.greyed #dot-separator {
    margin-bottom: 2em;
  }
}

#contact-heading h4 {
  margin: 4vh 5vw 1vh 6vw;
}

#contact-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2em;
}

@media screen and (min-width: 1024px) {
  #contact-flexbox {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-bottom: 5vh;
  }
}

#shaded-text {
  font: 1.3em "Viga", Arial, sans-serif;
  line-height: 1.3em;
  background-color: rgba(154, 146, 148, 0.85);
  width: 100%;
  margin: 1em 8vw .5em;
  padding: 2em 2em 2em 2em;
  border-radius: .5em;
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
  #shaded-text {
    margin: 1em 7vw .5em;
    padding: 2em 1.5em 1em 2.5em;
  }
}

@media screen and (min-width: 641px) and (orientation: portrait) {
  #shaded-text {
    font-size: 1.5em;
    margin: 1em 7vw 2em;
    padding: 2.5em 3em;
  }
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
  #shaded-text {
    margin: 2em 0 2em 3rem;
    padding-top: 3em;
    width: 50vw;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  #shaded-text {
    font-size: 1.4em;
    padding-top: 1.5em;
    padding: 1.5em 0 2em 2em;
    margin: 1em 1.5em 1em 3rem;
    width: 43vw;
  }
}

#shaded-text > p {
  font-size: 1.1em;
  cursor: text;
}

#shaded-text > ul {
  font: 1em "DidactGothic", Arial, sans-serif;
  margin: .8em .5em 0 .5em;
  list-style: none;
}

#shaded-text > ul li {
  margin-bottom: 1em;
  padding: 0 .5em 0 .5em;
  text-align: justify;
  text-justify: auto;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.9);
  border-left: 0.3em solid rgba(0, 0, 0, 0.3);
  border-radius: 2px 0 0 2px;
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  #shaded-text > ul {
    margin-right: 2.5em;
  }
}

#shaded-text address {
  margin: .5em 0;
  color: #FFFF33;
}

#shaded-text #red-underline {
  font-size: 1.1em;
  padding-bottom: .5em;
  border-bottom: 2px solid #CC3332;
}

#contact-form {
  font-family: "DidactGothic", Arial, sans-serif;
  margin: .5em 8vw 0;
  width: 100%;
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
  #contact-form {
    margin: 0 7vw 2em;
  }
}

@media screen and (min-width: 641px) and (orientation: portrait) {
  #contact-form {
    margin: 0 7vw 2em;
  }
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
  #contact-form {
    margin: 7em 3rem 0 0;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  #contact-form {
    margin: .3em 3rem 0 2.5em;
  }
}

.textbox {
  font-family: "DidactGothic", Arial, sans-serif;
  background-color: rgba(247, 240, 240, 0.9);
  border: 1px solid #333333;
  border-radius: .5em;
  padding: .5em;
  margin-bottom: .3em;
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  #input-subject {
    margin-top: 2.3em;
  }
}

#input-subject, #input-message {
  display: block;
  width: 100%;
}

#input-message {
  font-size: 1.4em;
  height: 50vh;
}

@media screen and (orientation: landscape) {
  #input-message {
    height: 25vw;
  }
}

@media screen and (min-width: 641px) and (orientation: portrait) {
  #input-message {
    height: 25vh;
  }
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
  #input-message {
    height: 45vh;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  #input-message {
    height: 53vh;
  }
}

#input-name {
  width: 40%;
}

#input-email {
  width: calc(60% - 5em);
}

#send-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
  float: right;
  margin-top: .2em;
  padding: .3em .6em;
  font: 1.5em "DidactGothic", Arial, sans-serif;
  color: #F7F0F0;
  text-shadow: 0 0 1px black;
  border-radius: .5em;
  background-color: #CC3332;
}

@media (hover: hover) {
  #send-button:hover {
    cursor: pointer;
    background-color: #F7F0F0;
    color: #CC3332;
    text-shadow: none;
  }
}

#send-button:focus {
  background-color: #F7F0F0;
  color: #CC3332;
  text-shadow: none;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

#send-button:active {
  cursor: pointer;
  background-color: #F7F0F0;
  color: #333333;
  text-shadow: none;
}

.grid-layout #privacy-content {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  padding-top: 2em;
  margin-bottom: 4em;
}

.grid-layout footer.greyed {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  color: rgba(247, 240, 240, 0.5);
}

.grid-layout footer.greyed #dot-separator {
  background-color: rgba(247, 240, 240, 0.5);
}

#privacy-content > h4 {
  text-align: center;
  margin: 1em 4vw 1.5em;
}

@media screen and (min-width: 641px) {
  #privacy-content > h4 {
    margin: 1em auto 1.5em;
  }
}

#privacy-text {
  font: 1.5em "DidactGothic", Arial, sans-serif;
  line-height: 1.5em;
  max-width: 75ch;
  text-align: justify;
  text-justify: auto;
  margin: 2em 8vw 0;
}

@media screen and (min-width: 641px) {
  #privacy-text {
    margin: 2em auto 0 auto;
  }
}
/*# sourceMappingURL=styles.css.map */