{% extends "public/layout.html" %}

{% block title %}
    Busca | Contacte-nos
{% endblock %}

{% block headscript %}
    <script src="{{ url_for('static', filename='js/contact_behavior.js') }}"></script>
{% endblock %}

{% block style %}
    <style>
        body {
            background-image: url("/static/img/suri_inv.jpg");
        }
        body::after {   /* https://css-tricks.com/snippets/css/transparent-background-images/ */
            content: '';
            background-color:  rgba(129, 119, 122, .1);
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1; 
        }
        /* Re-adjust logo to a smaller size in desktop */
        @media screen and (min-width: 1024px) and (orientation: landscape) {
            .logo {
                margin-top: .5vh;
                max-width: 39em;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <div class="page-content">
        <header>
            <a class="logo" href="\">
                <img class="logo" src="{{ url_for('static', filename='img/busca_logo.svg') }}" alt="Logotipo do site: visite o Busca! Animais desaparecidos">
            </a>
        </header>
        <main tabindex="-1">
            <div id="contact-grid">
                <div id="contact-heading">
                    <h4><span class="red">C</span>ontacte-nos</h4>
                </div>
                <div id="contact-flexbox">
                    <div id="shaded-text">
                        <label for="message">
                            Por favor, entre em contacto:
                            <ul>
                                <li>Se encontrar algum problema técnico ou se tiver sugestões sobre como melhorar o nosso sítio.</li>
                                <li>Se conhecer uma entidade de apoio a animais que não conste na nossa base de dados ou cuja informação esteja incompleta ou errada.</li>
                                <li>Se quiser colaborar ou contribuir pessoalmente para o nosso projeto!</li>
                            </ul>
                        </label>
                        <br>
                        <p>
                            Pode escrever-nos diretamente para: <address><span>&#9993;</span> busca@email.com</address>
                            <!-- https://www.toptal.com/designers/htmlarrows/symbols/envelope/ -->
                            <br><span id="red-underline">Ou então, deixe uma mensagem.</span><br>
                            <br><span id="dark-text">Obrigado</span>
                        </p>
                    </div>
                   
                    <form id="contact-form" action="/contacte-nos" method="post">
                        <!-- Feedback message flashing. https://flask.palletsprojects.com/en/1.0.x/patterns/flashing/ -->
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="{{ category }}" id="alert-contact">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %} 
                        {% endwith %}

                        <input class="textbox" id="input-subject" name="subject" placeholder="assunto*" type="text" required>
                        <textarea class="textbox" id="input-message" name="message" placeholder="mensagem*" required></textarea>
                        <input class="textbox" id="input-name" name="guestname" placeholder="nome" type="text">
                        <input class="textbox" id="input-email" name="guestmail" placeholder="e-mail" type="text">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button id="send-button">Enviar</button>
                        * obrigatório
                    </form>
                </div>
                <footer class="whitish">
                    <span id="dot-separator"></span>
                    <div id="footer-wrapper">
                        <div id="copyright">
                            2021 Todos os direitos reservados
                        </div>
                        <nav id="footer-nav">
                            <a href="\acerca-do-projeto" class="footer-nav-link">
                                <p>Acerca do <mark class="fat-text">Busca!</mark></p>
                            </a>
                            <a href="\contacte-nos" class="footer-nav-link">
                                <p>Contacto</p>
                            </a>
                            <a href="\privacidade" class="footer-nav-link">
                                <p>Privacidade</p>
                            </a>
                        </nav>
                    </div>
                </footer>        
            </div>
        </main>
    </div>
{% endblock %}
